//指定过滤某种类型的文件：
*.zip
*.rar
*.via
*.tmp
*.err

//指定不跟踪的文件及文件夹
cmake-build-debug/*
CMakeLists.txt
main.cpp
out/*
idea/*
.idea/*
/homework3/杨泽加_homework3.aux
/homework3/杨泽加_homework3.bbl
/homework3/杨泽加_homework3.blg
/homework3/杨泽加_homework3.brf
/homework3/杨泽加_homework3.fdb_latexmk
/homework3/杨泽加_homework3.fls
/homework3/杨泽加_homework3.log
/homework3/杨泽加_homework3.out
/homework3/杨泽加_homework3.pdf
/homework3/杨泽加_homework3.synctex.gz
/homework4/bitmap-master/
/homework4/manderbrot-master/
/homework4/MandelbrotComp.c
/homework4/MandelbrotComp.cpython-38-x86_64-linux-gnu.so
/homework4/build/
/homework5/report.aux
/homework5/report.log
/homework5/report.out
/homework5/report.pdf
/homework5/report.synctex.gz
/homework4/.idea/
/homework4/.idea/
