//指定过滤某种类型的文件：
*.zip
*.rar
*.via
*.tmp
*.err

//指定不跟踪的文件及文件夹
cmake-build-debug/*
CMakeLists.txt
main.cpp
out/*
idea/*
/homework3/杨泽加_homework3.aux
/homework3/杨泽加_homework3.bbl
/homework3/杨泽加_homework3.blg
/homework3/杨泽加_homework3.brf
/homework3/杨泽加_homework3.fdb_latexmk
/homework3/杨泽加_homework3.fls
/homework3/杨泽加_homework3.log
/homework3/杨泽加_homework3.out
/homework3/杨泽加_homework3.pdf
/homework3/杨泽加_homework3.synctex.gz
